@import "../styleVariables.scss";

.dashboard-card {
    height: 130px;
    width: 250px;
    border: 2px solid $border-grey;
    color: white;
}

.card-title {
    font-size: 1.2rem;
}

.card-data {
    font-size: 3rem;
    font-weight: 600;
}

.card-red {
    background: $bg-red;
}

.card-blue {
    background: $bg-blue;
}

.card-yellow {
    background: $bg-yellow;
}