$color-grey: rgba(44, 56, 74, 0.681);
$color-grey-dark: rgba(44, 56, 74, 0.95);
$border-grey: #dee2e6;
$color-blue: #3ABEF9;

// Transition settings
$transition-basic-1: all 0.2s ease-in-out;
$transition-basic-2: all 0.3s ease-in-out;
